<div class="app-container">
<app-header (navToggle)="snav.toggle()"></app-header>

</div>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened #snav>
  <mat-nav-list>
    <a mat-list-item href="#" routerLink = "inventory/home"  routerLinkActive="active" > Inventory Management</a>
    <a mat-list-item href="#" routerLink = "review" routerLinkActive="active" > Review Management</a>
    <mat-expansion-panel [class.mat-expansion-panel]="false">
      <mat-expansion-panel-header>
        Competitor Analysis
      </mat-expansion-panel-header>

      <a mat-list-item href="#" routerLink = "competitor/profit" routerLinkActive="active" > Profit & Sales</a>
      <a mat-list-item href="#" routerLink = "competitor/search-product" routerLinkActive="active" > Search Competing Product</a>


    </mat-expansion-panel>

  </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
   <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


